{
  "extends": [
    "wesbos"
  ],
  "rules": {
    "no-console": ["error", {
      "allow": ["error"]
    }],
    "prettier/prettier": [
      "error",
      {
        "trailingComma": "es5",
        "singleQuote": true,
        "printWidth": 120,
        "tabWidth": 2
      }
    ]
  }
}